.font-head{
    font-family: 'Akrobat';
    src: url('../font/Akrobat-Black.otf');
}
.font-detail{
    font-family: 'Nithan';
    src: url('../font/Nithan.ttf');
    color: #726B67;
}

.head {
    text-align: center;
    font-size: 40px;
    color: #726B67;
    font-family: 'Akrobat'
    /* background-color:  */
}
.pic {
    text-align: center;
}
.p2 {
    font-size: 25px;
    color: #726B67;
    font-family: 'Nithan'
}
.p1 {
    font-size: 30px;
    color: #726B67;
    font-family: 'Akrobat'
}
.right {
    right: 0px;
}
.bg {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 1500px;
}
.b1 {
    font-size: 27px;
    color: #726B67;
}
