@font-face {
    font-family: 'Akrobat-Bold';
    src: url('fonts/Akrobat/Akrobat-Bold.otf'); /*, url('fonts/EntezareZohoor2.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg'); */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat-Black';
    src: url('fonts/Akrobat/Akrobat-Black.otf'); /*, url('fonts/EntezareZohoor2.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg'); */
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Nithan';
    src: url('fonts/Nithan/Nithan.ttf'); /*, url('fonts/EntezareZohoor2.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

.contentFrame {
    font-family: "Nithan", sans-serif;
    /* height: 100%;
    width: 100%; */
    background: '#000000';
}

h1 {
    font-family: 'Akrobat-Black';
    font-size: 64px;
    letter-spacing: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #334364;
    text-align: center;
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 48px;
    }
}

p {
    font-family: 'Akrobat-Black';
    text-align: center;
}

.fitt{
    margin-left: 5%;
    width: 90%;
    height: 90%;
}


/* 
    FROM BOOTSTRAP
*/

.container {
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
      /* margin-left: 8px; */
      /* margin-right: 8px; */
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
      /* margin-left: 12px; */
      /* margin-right: 12px; */
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
      /* margin-left: 16px; */
      /* margin-right: 16px; */
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
      /* margin-left: 24px; */
      /* margin-right: 24px; */
    }
  }

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

/*
    Style.css
*/
.text-white{
    color : white;
}
.bg-pink{
    background-color: #F5696C !important;
}
.footer{
    font-size: 24px;
}
.font-head{
    font-family: 'Akrobat';
    /* src: url('../font/Akrobat-Black.otf'); */
}
.font-detail{
    font-family: 'Nithan';
    /* src: url('../font/Nithan.ttf'); */
    color: #726B67;
    font-size: 32px;
}
p {
    font-family: 'Nithan';
}
.center{
    text-align: center;
}
.fontsize-45px{
    font-size: 45px;
}
.fontsize-30px{
    font-size: 30px;
}
.fontsize-25px{
    font-size: 25px;
}
.color-button{
    background-color: #FFCAB0;
}
.fit {
    width: calc(100% / 3);
}
@media screen and (min-width: 320px) {
    .fit {
        width : 100%
    }
}
