body {
    font-family: "Lato", sans-serif;
}

.titleBar {
    display: -webkit-flex;
    
    display: flex;
    justify-content: space-between;

    /* width: 100%; */
    background: #243547;
    /* align-content: center; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    /* transition-timing-function: ease-in; */
    padding-top: 64px;
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
    /* transition-timing-function: ease-out; */
    text-align: left;
}
.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    /* right: 25px; */
    left: 0px;
    font-size: 36px;
    /* margin-left: 50px; */
    margin-right: 48px;
}

@media screen and (max-width: 400px) {
    /* .titleBar {
        padding-left: 16px;
        padding-right: 16px;
    } */
  /* .sidenav {padding-top: 56px;} */
  /* .sidenav a {font-size: 22px;} */
}